@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);

    --font-family: 'Manrope', sans-serif;
    --font-size-body: 13px;
    --fw-medium: 500;
    --fw-bold: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    background-color: var(--light-grayish-blue);
    color: var(--desaturated-dark-blue);
    padding: 24px;
}
.main {
    display: flex;
    background-color: white;
    border-radius: 8px;
    max-width: 730px;
}
.main__image {
    width: 40%;
}
.main__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 8px 0 0 8px;
}
.main__content {
    width: 60%;
    padding: 40px;
}
.main__content h1 {
    color: var(--very-dark-grayish-blue);
    font-weight: var(--fw-bold);
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 20px;
}
.main__content p {
    font-weight: var(--fw-medium);
    line-height: 1.5;
}
.main__content-author {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
}
.main__content-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.main__content-author-info p:first-child {
    color: var(--very-dark-grayish-blue);
    font-weight: var(--fw-bold);
}
.main__content-author-info p:last-child {
    color: var(--grayish-blue);
}
.share__button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 10;
}
.share__button:hover {
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}
.share__wrapper {
    margin-left: auto;
    position: relative;
}
.share__container {
    position: absolute;
    bottom: 55px; 
    left: 50%;
    transform: translateX(-50%); 
    
    background-color: var(--very-dark-grayish-blue);
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.share__wrapper.active .share__container {
    opacity: 1;
    visibility: visible;
}
.share__wrapper.active .share__button {
    background-color: var(--desaturated-dark-blue);
}
.share__wrapper.active .share__button img {
    filter: brightness(0) invert(1);
}
.share__container h2 {
    color: var(--grayish-blue);
    font-size: 12px;
    letter-spacing: 5px; 
    font-weight: var(--fw-medium);
    text-transform: uppercase;
}
.share__icons {
    display: flex;
    gap: 15px;
    align-items: center;
}
.share__container::after {
    content: '';
    position: absolute;
    bottom: -7px; 
    left: 50%;
    transform: translateX(-50%) rotate(45deg); 
    width: 14px;
    height: 14px;
    background-color: var(--very-dark-grayish-blue);
}











@media (max-width: 800px) {
    .main {
        flex-direction: column;
        max-width: 327px;
        position: relative;
    }
    .main__image {
        width: 100%;
        height: 200px;
    }
    .main__content {
        width: 100%;
        padding: 32px;
    }
    .share__wrapper {
        position: static;
    }
    .share__container {
        bottom: 0;
        left: 0;
        width: 100%;
        transform: none;
        border-radius: 0 0 8px 8px;
        height: 85px; 
        padding: 0 32px; 
        z-index: 5; 
        justify-content: flex-start;
    }
    .share__container::after {
        display: none;
    }
}
.attribution { 
    margin-top: 20px;
}